__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

.venv/
venv/
env/

.buildozer/
bin/
*.apk
*.aab

.gradle/
local.properties

.DS_Store
Thumbs.db

*.sqlite3

Config/settings.json
Config/intents.json

.vscode/
.idea/

_backup_before_format/
